@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #FA7000;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:45px 0 0 0; display:flex; align-items: center; justify-content: center; }
.paging_box .pg_page{ background-color:#343A40; border:1px solid #343A40; }
.paging_box .pg_current{ background-color: #3A6F5B; border-color: #3A6F5B;  }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* header */
header{ background-color: #111; position: fixed; left: 0; top: 0; width: 100%; z-index: 99999; transition: top .5s; }
header.scroll-down{ top:-83px; }
header .logo-div .inner{ position: relative; padding: 16px 0; display: flex; align-items: center; justify-content: center; }
header .menu-div{ border-top: 1px solid #F7F6F2; border-bottom: 1px solid #F7F6F2; font-family: 'KoPubWorldBatang'; background-color: #343A40; padding: 15px 0; color: #fff; }
header .menu-div .menu-list{ text-align: center; display: flex; color: #F7F6F2;   }
header .menu-div .menu-list > li{ border-left: 1px solid #F7F6F2; width: calc(100% / 5); }
header .menu-div .menu-list > li:last-child{ border-right: 1px solid #F7F6F2; }
header .menu-btn{ display: none; }
@media screen and (max-width: 1250px) { 
    header .logo{ width: 300px; }
    header .menu-div .menu-list{ font-size: 14px; }
    header.scroll-down{ top:-72px; }
}
@media screen and (max-width: 750px) { 
    header .menu-div{ display: none; }
    header .menu-btn{ display: block; background: transparent; border: none; position: absolute; right: 3vw;  }
    header .menu-btn .icon{ width: 40px; }
    header.scroll-down{ top:0; }
}
@media screen and (max-width: 650px) { 
    header .logo{ width: 200px; }
    header .menu-btn .icon{ width: 30px; }
}

/* .pc-slide-menu */
.pc-slide-menu{ border-bottom: 1px solid #F7F6F2; display: none; font-family: 'KoPubWorldBatang'; color: #F7F6F2; position: fixed; left: 0; top: 0; padding-top: 133px; background-color: #343A40; width: 100%; z-index: 99; }
.pc-slide-menu.scroll-down{ top: -83px; }
/* .pc-slide-menu.show{ opacity: 1; visibility: visible; } */
.pc-slide-menu .menu-list{ text-align: center; display: flex; }
.pc-slide-menu .menu-list > li{ line-height: 2em; border-left: 1px solid rgba(247, 246, 242, .2); padding: 22px 10px; width: calc(100% / 5); }
.pc-slide-menu .menu-list > li:last-child{ border-right: 1px solid rgba(247, 246, 242, .2); }

@media screen and (max-width: 1250px) { 
    .pc-slide-menu{ padding-top: 119px; }
    .pc-slide-menu .menu-list{ font-size: 14px; }
}
@media screen and (max-width: 750px) { 
    .pc-slide-menu{ display: none !important; }
}

/* .pc-menu-close */
.pc-menu-close{ opacity: 0; visibility: hidden; background-color: rgba(0,0,0,.5); position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 98; }
.pc-menu-close.show{ opacity: 1; visibility: visible; }
@media screen and (max-width: 750px) { 
    .pc-menu-close{ display: none; }
}


/* .mobile-menu-div */
.mobile-menu-div{ display: none; position: fixed; right: 0; top: 0; width: 100%; height: 100%; background-color: #111; z-index: 999999;  }
@media screen and (max-width: 750px) { 
    .mobile-menu-div{ display: block; opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s; font-size: 6vw; font-family: 'KoPubWorldBatang'; color: #F7F6F2; padding: 5px 3vw 15px 3vw; }
    .mobile-menu-div.show{ opacity: 1; visibility: visible; }
    .mobile-menu-div .btn-div{ padding-bottom: 30px; display: flex; align-items: center; justify-content: flex-end; }
    .mobile-menu-div .close-btn{ background: transparent; border: none; }
    .mobile-menu-div .close-btn .icon{ width: 30px; }
    .mobile-menu-div .menu-list > li + li{ margin-top: 2vw;  }
    .mobile-menu-div .item{ border-bottom: 1px solid rgba(247, 246, 242, .2); display: block; padding: 1vw 0 2vw 0; width: 100%; }
    .mobile-menu-div .item .icon{ width: 5vw; }
    .mobile-menu-div .item.sub{ display: flex; align-items: center; justify-content: space-between; }
    .mobile-menu-div .item.sub.show .icon{ transform: rotate(180deg); } 
    .mobile-menu-div .sub-menu-list{ display: none; margin-top: 3vw; }
    .mobile-menu-div .sub-menu-list > li{ margin-top: 1vw; }
    .mobile-menu-div .sub-item{ opacity: .6; font-size: 5vw; }
}
@media screen and (max-width: 500px) { 
    .mobile-menu-div{ font-size: 8vw; }
    .mobile-menu-div .menu-list > li + li{ margin-top: 3vw;  }
    .mobile-menu-div .item .icon{ width: 15px; }
}




/* footer */
.footer-start{ background: linear-gradient(90deg, #2E2E2E 0%, #F7F6F2 50%, #2E2E2E 100%); height: 1px; }
footer{ background-color: #2E2E2E; padding: 45px 0; position: relative; overflow: hidden; }
footer::before{ content:''; display: block; height: 100%; position: absolute; background-image: url('../img/footer/footer-left.png'); background-size: auto 200px; background-position: right center; background-repeat: no-repeat; width: calc((100% - 1200px) / 2); left: 0; top: 0; }
footer::after{ content:''; display: block; height: 100%; position: absolute; background-image: url('../img/footer/footer-right.png'); background-size: auto 200px; background-position: left center; background-repeat: no-repeat; width: calc((100% - 1200px) / 2); right: 0; top: 0; }

footer .inner{ padding: 0 124px; display: flex; align-items: flex-start; gap: 129px; color: #F7F6F2; }
footer .sns-box{ padding-left: 36px; display: flex; align-items: center; gap: 10px; margin-top: 17px; }
footer .copy_right{ margin-top: 13px; padding-left: 36px; color: #525252; font-size: 12px; }
footer .copy_right.mo{ display: none; }
footer .privacy-btn{ font-family: "KoPubWorldBatang"; display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #fff; }
footer .info-list{ font-size: 14px; margin-top: 11px; display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 10px;  }
footer .info-list > li{ display: flex; gap: 10px; padding-right: 20px; }
footer .info-list .label{ flex-shrink: 0; font-family: "KoPubWorldBatang"; flex-shrink: 0; width: 100px; }

@media screen and (max-width: 1250px) { 
    footer .inner{ padding: 0 3vw; gap: 50px; }
    footer .sns-box{ padding: 0; }
    footer .copy_right{ padding:0; }
}
@media screen and (max-width: 950px) { 
    footer .inner{ flex-direction: column; gap: 20px; }
    footer .sns-box .icon{ width: 30px; }
    footer .copy_right.mo{ margin-top: 30px; display: block; }
    footer .copy_right.pc{ display: none; }
    footer .info-list{ grid-template-columns: repeat(1,1fr); } 
    footer .info-list > li{ padding-right: 0; }
}
@media screen and (max-width: 650px) { 
    footer { padding-top: 30px; }
    footer .logo{ width: 200px; }
    footer .sns-box .icon{ width: 20px; }
}

/* .main .main-visual */
.main .main-visual{ position: relative; overflow: hidden; height: 100vh; }

/* .main .logo-section */
.main .logo-section{ background-color: #343A40; border-top: 1px solid #F28C28; border-bottom: 1px solid #F28C28; padding: 20px 0; display: flex; align-items: center; justify-content: center; overflow: hidden; gap: 90px; }
.main .logo-section .logo{ flex-shrink: 0; }
.main .logo-section .bg{ flex-shrink: 0; }
@media screen and (max-width: 1250px) { 
    .main .logo-section .logo{ width: 200px; }
}
@media screen and (max-width: 950px) { 
    .main .logo-section{ gap: 20px; }
    .main .logo-section .bg{ height: 90px; }
}
@media screen and (max-width: 650px) { 
    .main .logo-section .logo{ width: 150px; }
}

/* .main .everyday-section */
.main .everyday-section{ padding: 47px 0; background-color: #343A40; }
.main .everyday-section .inner{ display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; }
.main .everyday-section .visual{ max-width: 100%; border-radius: 10px; }
.main .everyday-section h2{ font-family: "KoPubWorldBatang"; margin-top: 37px; font-size: 52px; color: #F28C28;}
.main .everyday-section .moBr{ display: none; }
.main .everyday-section .content{ word-break: keep-all; margin-top: 25px; text-align: center; line-height: 1.5em; color: #fff; }
.main .btn-center-div{ margin-top: 20px; display: flex; align-items: center; justify-content: center; gap: 10px; }
.main .btn-center-div .view-more{ display: inline-block; padding: 7px 40px; color: #F7F6F2; background: #3A6F5B; font-family: "KoPubWorldBatang"; }

@media screen and (max-width: 1250px) { 
    .main .everyday-section h2{ font-size: 40px; }
}
@media screen and (max-width: 950px) { 
    .main .everyday-section h2{ font-size: 30px; }
}
@media screen and (max-width: 650px) { 
    .main .everyday-section h2{ font-size: 6.5vw; line-height: 1.5em; }
    .main .btn-center-div{ margin-top: 30px; }
    .main .everyday-section .content br{ display: none; }
    .main .btn-center-div .view-more{ padding: 6px 20px; }
}

/* .main-title-section */
.main-title-section{ font-size: 32px; color: #F28C28; font-family: "KoPubWorldBatang"; padding: 27px 0; text-align: center; background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #111; }
.sub .main-title-section h2{ font-size: .8em; }
@media screen and (max-width: 1250px) { 
    .main-title-section{ font-size: 28px; }
}
@media screen and (max-width: 950px) { 
    .main-title-section{ font-size: 24px; }
}
@media screen and (max-width: 650px) { 
    .main-title-section{ padding: 15px 0; font-size: 6vw;} 
}


/* .main .gallery-section  */
.main .gallery-section{ padding: 25px 0; background: linear-gradient(0deg, #343A40 0%, #343A40 100%), #2E2E2E; }
.gallery-list{ display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 16px; }
.gallery-list > li{ margin-top: 10px; }
.gallery-list .img-box{ height: 378px; background-size: cover; background-repeat: no-repeat; background-position: center; border-radius: 10px; }
.gallery-list .subject{ margin-top: 10px; font-size: 21px; color: #F7F6F2; width: 100%; display: -webkit-box; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }

@media screen and (max-width: 1250px) { 
    .gallery-list .img-box{ height: 30vw; }
    .gallery-list .subject{ font-size: 18px; }
}
@media screen and (max-width: 650px) { 
    .main .gallery-section{ padding-bottom: 50px; } 
    .gallery-list{ grid-template-columns: repeat(2, 1fr); grid-gap: 10px; }
    .gallery-list > li{ margin-top: 5px; }
    .gallery-list .img-box{ border-radius: 5px; height: 45vw; }
    .gallery-list .subject{ font-size: 16px; } 
}

/* .main .store-section  */
.main .store-section{ padding: 44px 0 50px 0; background: #343A40; }
.main .store-section .store-list{ display: grid; grid-template-columns: repeat(2,1fr); }
.main .store-section .store-list.type2{ margin-top: 20px; grid-template-columns: repeat(3,1fr); }
.main .store-section .store-list .item .img-box{ position: relative; overflow: hidden; height: 310px; }
.main .store-section .store-list .item .img-box .real{ transition: transform .5s; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .store-section .store-list .item:hover .img-box .real{ transform: scale(1.1); }
.main .store-section .store-list .item .title{ display: -webkit-box; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: keep-all; background-color: #111; padding: 7px 13px; color: #F28C28; font-weight: 700; font-size: 18px; }
.main .store-section .store-list .item .address{ display: -webkit-box; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: keep-all; margin-top: 3px; padding: 0 13px; line-height: 1.5em; font-weight: 600; color: #fff; }

@media screen and (max-width: 1250px) {
    .main .store-section .store-list .item .img-box{ height: 24vw; }
}
@media screen and (max-width: 950px) {
    .main .store-section .store-list{ grid-template-columns: repeat(1,1fr); grid-gap: 15px; }
    .main .store-section .store-list.type2{ grid-template-columns: repeat(1,1fr); grid-gap: 15px; }
    .main .store-section .store-list .item .img-box{ height: 47vw; }
}

/* .main .note-section */
.main .note-section{ padding: 75px 0; background-color: #343A40; }
.note-list{ color: #F7F6F2; display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 23px; }
.note-list .item .img-box{ height: 283px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.note-list .item .subject{ margin-top: 9px; font-weight: 700; display: -webkit-box; overflow: hidden; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: keep-all; }

@media screen and (max-width: 1250px) {
    .main .note-section{ padding-top: 44px; }
    .note-list .item .img-box{ height: 22vw; }
}
@media screen and (max-width: 950px) {
    .note-list{ grid-gap: 15px; }
}
@media screen and (max-width: 650px) {
    .main .note-section{ padding-top: 34px; }
    .note-list{ grid-gap: 10px; grid-template-columns: repeat(2,1fr); }
    .note-list > li{ margin-top: 5px; }
    .note-list .item .img-box{ height: 45vw; }
}

/* .main .menu-section */
.main .menu-section{ background-color: #111; padding: 40px 0; display: flex; }
.main .menu-section > a{ position: relative; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; min-height: 500px; height: 80vh; width: calc(100% / 3); }
.main .menu-section > a .real{ transition: opacity .5s; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; opacity: .3; }
.main .menu-section > a:hover .real{ opacity: .5; }
.main .menu-section .t1{ position: relative; z-index: 1; color: #F28C28; font-family: "KoPubWorldBatang"; font-size: 32px; }
.main .menu-section .t2{ position: relative; z-index: 1; margin-top: 8px; color: #fff; font-weight: 600; }

@media screen and (max-width: 1250px) {
    .main .menu-section .t1{ font-size: 26px; }
    .main .menu-section > a{ min-height: unset; height:45vw; }
}
@media screen and (max-width: 950px) {
    .main .menu-section{ flex-direction: column; }
    .main .menu-section > a{ width: 100%; }
}
@media screen and (max-width: 650px) {
    .main .menu-section > a{ height: auto; padding:16vw 0; }
    .main .menu-section .t1{ font-size: 24px; }
}

/* .sec_top */
.sec_top{ padding-top: 133px; }
.sec_top.black{ background-color: #000; }
@media screen and (max-width: 1250px) {
    .sec_top{ padding-top: 119px; }
}
@media screen and (max-width: 750px) {
    .sec_top{ padding-top: 71.5px; }
}
@media screen and (max-width: 650px) {
    .sec_top{ padding-top: 58.34px; }
}
/* .sub */
/* .sub{ background-color: rgb(0, 0, 0); } */
/* .sub .sub-banner */
.sub .sub-banner{ border-bottom: 1px solid #F28C28; font-family: "NanumMyeongjo"; color: #F7F6F2; background-color: #000; padding: 74px 0; }
.sub .sub-banner .inner{ display: flex; flex-direction: column; align-items: center; justify-content: center; }
.sub .sub-banner .bar{ width: 80px; height: 1px; background-color: #fff; margin: 17px 0 5px 0; }
.sub .sub-banner h2{ font-family: "NanumMyeongjo"; font-size: 80px;  }

@media screen and (max-width: 1250px) {
    .sub .sub-banner .logo{ width: 140px; }  
    .sub .sub-banner .bar{ width: 60px; }
    .sub .sub-banner h2{ font-size: 60px; }
}
@media screen and (max-width: 950px) {
    .sub .sub-banner h2{ font-size: 50px; }
}
@media screen and (max-width: 650px) {
    .sub .sub-banner .bar{ width: 40px; }
    .sub .sub-banner h2{ font-size: 9vw; margin-top: 5px; }
}

/* .sub1_1 .section1 */
.sub1_1 .section1{ position: relative; font-family: "KoPubWorldBatang"; background-image: url("../img/sub/sub1/sub1_1/section1/bg.png"); background-repeat: no-repeat; background-position: top 27px center; padding: 150px 0 78px 0; background-color: #343A40;  }
.sub h3.title{ font-size: 32px; color: #F28C28; font-family: "KoPubWorldBatang";  }
.sub1_1 .section1 .visual-box{ display: flex; align-items: center; justify-content: center; margin-top: 18px; padding: 145px 0; background-image: url('../img/sub/sub1/sub1_1/section1/visual.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub1_1 .section1 .visual-box .white-box{ color: #343A40; line-height: 1.5em; font-size: 18px; background-color: #FFF; border-radius: 4px; padding: 65px 20px; text-align: center; }

section.line-bar{ height: 1px; background: linear-gradient(90deg, #2E2E2E 0%, #F7F6F2 50%, #2E2E2E 100%); }
@media screen and (max-width: 1250px) {
    .sub1_1 .section1{ padding: 80px 0; }
    .sub h3.title{ font-size: 30px; }
    .sub1_1 .section1 .visual-box{ padding: 100px 30px; }
    .sub1_1 .section1 .visual-box .white-box{ word-break: keep-all; font-size: 16px; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section1 .visual-box br{ display: none; }
}
@media screen and (max-width: 650px) {
    h3.title{ font-size: 25px; }
    .sub1_1 .section1{ background-size: 150vw; background-position: top 1vw center; }
    .sub1_1 .section1 .visual-box{ margin-top: 10px; padding: 50px 30px; }
}

/*  .sub1_1 .section2 */
.sub1_1 .section2{ color: #fff; background-color: #343A40; padding: 67px 0 61px 0; }
.sub1_1 .section2 .item-div .item{ word-break: keep-all; line-height: 1.8em; display: flex; gap: 30px; margin-top: 24px; }
.sub1_1 .section2 .item-div .content{ width: 50%;} 
.sub1_1 .section2 .item-div .img-div{ width: 50%; height: 432px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub1_1 .section2 .item-div .label{ font-size: 18px; margin-top: 18px; font-family: "KoPubWorldBatang"; }

@media screen and (max-width: 1250px) {
    .sub1_1 .section2 .item-div .item{ gap: 15px; }
    .sub1_1 .section2 .item-div .content br{ display: none; }
    .sub1_1 .section2 .item-div .img-div{ height: 33vw; }
    .sub1_1 .section2 .item-div .label{ font-size: 16px; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section2 .item-div .item{ flex-direction: column; }
    .sub1_1 .section2 .item-div .content{ width: 100%;} 
    .sub1_1 .section2 .item-div .img-div{ width: 100%; height: 68vw; }
}

/* .sub1_1 .section3 */
.sub1_1 .section3{ background-color: #343A40; padding: 50px 0; color: #fff; }
.sub1_1 .section3 .half-div{ margin-top: 20px; display: flex; align-items: center; gap: 30px; }
.sub1_1 .section3 .half-div .img-box{ flex-shrink: 0; width: 584px; height: 290px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub1_1 .section3 .half-div .content-box{ word-break: keep-all; line-height: 1.6em; }

.sub1_1 .section3 .img-div{ margin-top: 20px; display: flex; gap: 20px; }
.sub1_1 .section3 .img-div .img-box{ width: calc(100% / 3); background-size: cover; background-repeat: no-repeat; background-position: center; height: 432px; }

@media screen and (max-width: 1250px) {
    .sub1_1 .section3 .half-div .img-box{ width: calc((100% / 3) - 15px ); height: 32vw; }
    .sub1_1 .section3 .img-div .img-box{ height: 32vw; }
}
@media screen and (max-width: 950px) {
    .sub1_1 .section3 .half-div { flex-direction: column; gap: 20px; }
    .sub1_1 .section3 .half-div .img-box{ width: 100%; }
    .sub1_1 .section3 .half-div .content-box{ width: 100%; }
}
@media screen and (max-width: 650px) {
    .sub1_1 .section3 .img-div{ gap: 10px; }  
    .sub1_1 .section3 .half-div .content-box br{ display: none; }
}

/* .sub2_1 .section1 */
.sub2_1 .section1{ padding: 21px 0 115px 0; background-color: #343A40; }
.sub2_1 .section1 .menu-list{ text-align: center; margin-bottom: 62px; display: grid; grid-template-columns: repeat(4,1fr); grid-gap: 20px; }
.sub2_1 .section1 .menu-list .item{ font-family: "KoPubWorldBatang"; border: 1px solid #2E2E2E; background-color: #2E2E2E; text-align: center; padding: 13px 10px; color: #fff; }
.sub2_1 .section1 .menu-list .item.on{ border-color: #F28C28; color: #F28C28; }
.sub2_1 .section1 .gallery-list{ margin-top: 10px; }
@media screen and (max-width: 950px) {
    .sub2_1 .section1 .menu-list{ grid-gap: 5px; margin-bottom: 20px; }
    .sub2_1 .section1 .menu-list .item{ display: flex; align-items: center; justify-content: center; font-size: 14px; }
}

.sub .allchk.white{ color: #F7F6F2; }

/* .sub2 .detail-section */
.sub2 .detail-section{ background-color: #F7F6F2; padding: 30px 0; }
.sub2 .detail-section .inner{ display: flex; gap: 50px;   }
.sub2 .detail-section .img-div .big{ border-radius: 4px; width: 600px; height: 600px; flex-shrink: 0; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub2 .detail-section .img-div .small-img-div{ margin-top: 5px; display: flex; gap: 5px; }
.sub2 .detail-section .img-div .small-img-div .small{ cursor: pointer; border-radius: 4px; width: calc(100% / 5); height: 116px; background-size: cover; background-repeat: no-repeat; background-position: center;  }
.sub2 .detail-section .content-div{ padding-bottom: 126px; display: flex; justify-content: flex-end; flex-direction: column; }
.sub2 .detail-section .content-div .apply-btn{ margin-top: 98px; background-color: #3A6F5B; color: #fff; padding: 18px 10px; border-radius: 4px; background-color: #3A6F5B; border: none; }
.sub2 .detail-section .content-div .title{ font-size: 28px; word-break: keep-all; }
.sub2 .detail-section .content-div .content{ font-size: 14px; color: #222; padding: 15px 0 20px 0; border-bottom: 1px solid #D9D9D9; }
.sub2 .detail-section .content-div .prie-div{ font-size: 14px; align-items: center; width: 100%; margin-top: 20px; display: flex; gap: 10px; }
.sub2 .detail-section .content-div .label{ width: 70px; flex-shrink: 0; }
.sub2 .detail-section .content-div .price .real{ font-size: 1.5em; font-weight: 700; }

@media screen and (max-width: 1250px) {
    .sub2 .detail-section .inner{ gap: 30px; }
    .sub2 .detail-section .img-div .big{ width: 42vw; height: 42vw; }
    .sub2 .detail-section .img-div .small-img-div .small{ height: 8vw; }
    .sub2 .detail-section .content-div{ padding-bottom: calc(8vw + 10px); }
}
@media screen and (max-width: 950px) {
    .sub2 .detail-section .inner{ flex-direction: column; }
    .sub2 .detail-section .img-div .big{ width: 100%; height: 93vw; }
    .sub2 .detail-section .img-div .small-img-div .small{ height: 18vw; }
    .sub2 .detail-section .content-div .apply-btn{ margin-top: 40px; }
    .sub2 .detail-section .content-div{ padding-bottom: 30px; }  
}
@media screen and (max-width: 650px) {
    .sub2 .detail-section .content-div .title{ font-size: 20px; }
    .sub2 .detail-section .img-div .small-img-div .small{ height: 17vw; }
}


/* .sub2 .detail-content-section */
.sub2 .detail-content-section{ background-color: #F7F6F2; padding: 48px 0 100px 0; }
.sub2 .detail-content-section .gray-bar{ height: 1px; background-color: #D9D9D9; }
.sub2 .detail-content-section .title{ font-weight: 600; font-size: 18px; margin: 32px 0 16px 0; }

@media screen and (max-width: 950px) {
.sub2 .detail-content-section{ padding-top: 0; }
}

/* .apply-popup-section */
.apply-popup-section{ opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s; display: flex; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; z-index: 999999; background-color: rgba(0,0,0,.5); width: 100%; height: 100%; }
.apply-popup-section.show{ opacity: 1; visibility: visible; }
.apply-popup-section .inner{ display: flex; align-items: center; justify-content: center; }
.apply-popup-section .popup-content{ position: relative; background-color: #fff; width: 100%; max-width: 580px; padding: 70px 60px; padding-bottom: 35px; }
.apply-popup-section .close-btn{ position: absolute; right: 20px; top: 20px; background: transparent; border: none; }
.apply-popup-section .logo{ display: block; margin: 0 auto; margin-bottom: 50px; }
.apply-popup-section .agreeCheckDiv label input[type="checkbox"]:checked + .textBox::before{ border-color: #3A6F5B; background-image: url('../img/sub/sub2/check-icon.svg'); background-size: 80%; }
.apply-popup-section .btn-div{ margin-top: 20px; display: flex; align-items: center; justify-content: center; }
.apply-popup-section .btn-div .submit-btn{ border-radius: 4px; background: #3A6F5B; border:1px solid #3A6F5B; color: #fff; display: block; padding: 10px 10px; width: 100%; max-width: 180px; text-align: center; }

@media screen and (max-width: 650px) {
    .apply-popup-section .logo{ width: 200px; margin-bottom: 20px; }
    
    .apply-popup-section .popup-content{ padding: 20px; }
    .apply-popup-section textarea.ipt{ height: 80px; }
}

/* .sub3 .sub-banner */
.sub3 .sub-banner{ border-bottom: none; background-color: #000; } 
.sub3 .main-title-section{ background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #111; }

.sub3 .section1{ background-color: #343A40; padding: 48px 0 62px 0; }
.sub3 .section1 .map-arti{ display: flex; gap: 40px; }
.sub3 .section1 .map-arti .map-box .map{ width: 549px; height: 392px; }
.sub3 .section1 .map-arti .map-box .map-info{ width: 100%; border: none; padding: 18px 30px; background-color: #25292C; display: flex; align-items: center; gap: 10px; justify-content: space-between; }
.sub3 .section1 .map-arti .map-box .map-info .name{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; color: #F7F6F2;  font-weight: 500;}
.sub3 .section1 .map-arti .map-box .map-info .more-view{ flex-shrink: 0; display: flex; gap: 6px; align-items: center; font-size: 14px; color: #828587; }
.sub3 .section1 .map-arti .list-box{ border: 2px solid #F7F6F2; flex-grow: 1; padding: 24px; }
.sub3 .section1 .map-arti .list-box h4{ font-family: 'KoPubWorldBatang'; color: #F28C28; font-size: 20px; }
.sub3 .section1 .map-arti .list-box .market-list{ margin-top: 21px; display: grid; grid-gap: 9px; grid-template-columns: repeat(2,1fr); }
.sub3 .section1 .map-arti .list-box .market-list .market{ transition: background .4s; padding: 20px 15px; background-color: #25292C; border-radius: 2px; color: #fff; display: flex; align-items: center; justify-content: space-between; gap: 10px; }
.sub3 .section1 .map-arti .list-box .market-list .market:hover{ background-color: #222; }
.sub3 .section1 .map-arti .list-box .market-list .market .txt{ overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;  }
.sub3 .section1 .map-arti .list-box .paging_box{ padding-top: 24px; }

.sub3 .section1 .search-arti{ display: flex; align-items: center; justify-content: center; position: relative; margin: 0 auto; max-width: 800px; margin-top: 25px; }
.sub3 .section1 .search-arti .search-ipt{ width: 100%; padding: 15px 32px; padding-right: 60px; border-radius: 100px; color: #fff; background-color: #343A40; border: 2px solid #F28C28; }
.sub3 .section1 .search-arti .search-btn{ background: transparent; border: none; position: absolute; right: 20px; }

@media screen and (max-width: 1250px) {
    .sub3 .section1 .map-arti{ gap: 20px; }
    .sub3 .section1 .map-arti .map-box .map{ width: 46vw;  }
}
@media screen and (max-width: 950px) {
    .sub3 .section1 .map-arti{ flex-direction: column; }
    .sub3 .section1 .map-arti .map-box .map{ width: 100%; height: 55vw; }
      
}
@media screen and (max-width: 650px) {
    .sub3 .section1 .map-arti .list-box{ padding: 20px 15px; }
    .sub3 .section1 .map-arti .list-box .market-list{ grid-template-columns : repeat(1,1fr) }
}


.store-popup-section{ opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s; display: flex; align-items: center; justify-content: center; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.8); z-index: 999999; }
.store-popup-section.show{ opacity: 1; visibility: visible; }
.store-popup-section .btn-wrap{ padding-bottom: 5px; display: flex; align-items: center; justify-content: flex-end; }
.store-popup-section .btn-wrap .close-btn{ background-color: transparent; border: none; }
.store .content-arti{ max-height: 70vh; overflow-y: scroll; -ms-overflow-style: none; color: #F7F6F2; background-color: #343A40; border: 1px solid #fff; padding: 50px;  display: flex; align-items: flex-start; gap: 30px; }
.store .content-arti::-webkit-scrollbar{ display: none; }
.store .content-arti .img-box{ width: 372px; height: 392px; flex-shrink: 0; background-size: cover; background-repeat: no-repeat; background-position: center; }
.store .content-arti .logo-div{ display: flex; align-items: flex-end; gap: 10px; }
.store .content-arti .logo-div.mo{ display: none; }
.store .content-arti .logo-div .logo{ flex-shrink: 0; }
.store .content-arti .logo-div .title{ display: block; padding-top: 4px; font-weight: 600; }
.store .content-arti .store-list{ display:flex; flex-wrap: wrap; margin-top: 18px; }
.store .content-arti .store-list > li{ padding-right: 20px; padding-bottom: 20px; }
.store .content-arti .store-list > li.half1{ width: 45%; }
.store .content-arti .store-list > li.half2{ width: calc(55% / 2); }
.store .content-arti .store-list > li.full{ width: 100%; }
.store .content-arti .store-list .label{ font-family: "KoPubWorldBatang"; color: #F28C28; font-size: 20px; }
.store .content-arti .store-list .content{ margin-top: 5px; line-height: 1.5em;  }

@media screen and (max-width: 1250px) {
    .store .content-arti .store-list > li.half1{ width: 50%; }
    .store .content-arti .store-list > li.half2{ width: 50%; }
    .store .content-arti .store-list > li.mohalf{ width: 50%; }
    .store .content-arti .img-box{ width: 35vw; height: 35vw; }
}
@media screen and (max-width: 950px) {
    .store .content-arti{ flex-direction: column; gap: 10px; }
    .store .content-arti .img-box{ width: 100%; height: 86vw; }
    .store .content-arti .logo-div.mo{ display: flex; margin-bottom: 10px; }
    .store .content-arti .logo-div.pc{ display: none; } 
}
@media screen and (max-width: 650px) {
    .store .content-arti{ padding: 30px 20px; }
    .store .content-arti .img-box{ height: 88vw; }

    .store .content-arti .store-list > li.half1{ width: 100%; }
    .store .content-arti .store-list > li.half2{ width: 100%; }
    .store .content-arti .store-list > li.mohalf{ width: 100%; }
    .store .content-arti .logo-div.mo{ flex-direction: column; width: 100%; align-items: center; }
}

/* .sub3 .search-result-arti */
.sub3 .search-result-arti .result-div{ padding: 44px 0; text-align: center; color: #fff; }
.sub3 .search-result-arti .result-list > li{ position: relative; }
.sub3 .search-result-arti .result-list > li::before{ content:''; display: block; width: 100%; height: 1px; background: linear-gradient(90deg, #2E2E2E 0%, #F7F6F2 50%, #2E2E2E 100%); }
.sub3 .search-result-arti .result-list > li .content-arti{ padding: 0; max-height: unset; border: none; } 
.sub3 .search-result-arti .result-list > li .content-arti{ padding: 50px 0; }

/* .sub4 .section1 */
.menu-section{ padding: 34px 0; background-color: #F7F6F2; }
.menu-section .menu-list{ text-align: center; display: grid; grid-gap: 20px; grid-template-columns: repeat(3,1fr); }
.menu-section .menu-list .item{ padding: 13px 10px; color: #3A6F5B; font-family: "KoPubWorldBatang"; border:1px solid #3A6F5B; display: block; text-align: center;  }
.menu-section .menu-list .item.on{ background-color: #3A6F5B; color: #fff; }

@media screen and (max-width: 1250px) {
    .menu-section .menu-list{ padding-inline-end: 21px 0; grid-gap: 10px; }
}
@media screen and (max-width: 950px) {
    .menu-section{ padding: 20px 0; }
    .menu-section .menu-list{ font-size: 14px; }
    .menu-section .menu-list .item{ display: flex; align-items: center; justify-content: center; }
}

/* .sub4 .sub4_1 */
.sub4_1 .section2{ background-color: #F7F6F2; padding: 24px 0 86px 0; }
/* .sub4_1 .section2.bgwhite{ background-color: #fff; } */

.img-list{ margin-top: 20px; }
.img-list > li .item{ color: #222; padding: 20px 0; display: flex; align-items: center; gap: 17px; }
.img-list > li .item .img-box{ flex-shrink: 0; width: 180px; height: 180px; background-size: cover; background-repeat: no-repeat; background-position: center; }
.img-list > li .item .title{ font-weight: 500; font-size: 18px; }
.img-list > li .item .content{ margin-top: 10px; line-height: 1.5em; display: -webkit-box; overflow: hidden; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.img-list > li{ border-bottom: 1px solid #CCC; }

@media screen and (max-width: 650px) {
    .img-list > li .item{ gap: 15px; padding: 10px 0; }
    .img-list > li .item .img-box{ width: 120px; height: 120px; }

    .img-list > li .item .title{ font-size: 16px; }
    .img-list > li .item .content{ font-size: 14px; margin-top: 5px; }
}

/* .sub5 .menu-list */
.sub5 .menu-list .item{ color: #6C4BA4; border: 1px solid #6C4BA4; }
.sub5 .menu-list .item.on{ background-color: #6C4BA4; }


/* .sub5 .section1 */
.sub5 .section1{ background-color: #F7F6F2; }

.qna_list > li + li{ margin-top: 6px; }
.qna_list > li{ border-radius: 10px; border: 2px solid #E4E4E4;  }
.qna_list .qnabox{ line-height: 1.5em; background-repeat: no-repeat; background-position: left 25px top 20px; padding: 25px 20px; padding-left: 60px; display: flex; align-items: center; justify-content: space-between; gap: 10px; }
.qna_list .qnabox.q-box{ background-image: url('../img/sub/sub5/q_icon.svg'); }
.qna_list .qnabox.a-box{ display: none; position: relative; background-image: url('../img/sub/sub5/a_icon.svg'); }
.qna_list .qnabox.a-box::before{ content:''; display: block; width: calc(100% - 40px); top: 0; left: 25px; position: absolute; height: 1px; background-color: #E4E4E4; }
.qna_list .qnabox button{ background: transparent; border: none; } 
.qna_list .qnabox button .icon{ transition: transform .5s; }
.qna_list .qnabox button .icon.rotate{ transform: rotate(-180deg); }
.allchk + .qna_list{ margin-top: 20px; }
.qna_list .modify-btn{ border: 1px solid #7F7F7F; padding: 3px 5px; border-radius: 4px; font-size: 14px; margin-left: 2px; }

@media screen and (max-width: 650px) {
    .qna_list .qnabox{ background-size: 20px;  padding: 15px; padding-left: 50px; background-position: left 20px top 15px; }

}

/* .apply-popup */
.apply-popup{ opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s; background-color: rgba(0,0,0,.4); position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999999; display: flex; align-items: center; justify-content: center;  }
.apply-popup.show{ opacity: 1; visibility:visible; }
.apply-popup .inner{ display: flex; align-items: center; justify-content: center; }
.apply-popup .content-arti{ max-width: 873px; }
.apply-popup .content-arti .btn-div{ display: flex; align-items: center; justify-content: flex-end; }
.apply-popup .content-arti .btn-div .close-btn{ background: transparent; border: none; }
.apply-popup .content-arti .white-content{ padding: 30px 50px; margin-top: 10px; background-color: #F7F6F2; box-shadow: 8px 10px 4px 0 rgba(0, 0, 0, 0.25); }
.apply-popup .content-arti .white-content .ipt{ background-color: transparent; }
.apply-popup .content-arti .white-content h5{ font-weight: 500; padding-bottom: 16px; font-size: 20px; text-align: center; display: flex; align-items: center; justify-content: center; position: relative;   }
.apply-popup .content-arti .white-content h5::after{ content:''; position: absolute; bottom: 0; width: 60px; height: 2px; background-color: #343A40; }
.apply-popup .content-arti .white-content .formList{ margin-top: 46px; }
.apply-popup .content-arti .white-content textarea.ipt{ height: 90px; }
.apply-popup .content-arti .white-content .form-btn-wrap{ margin-top: 18px; display: flex; align-items: center; justify-content: center; }
.apply-popup .content-arti .white-content .form-btn-wrap .submit-btn{ width: 100%; max-width: 270px; padding: 12px; color: #fff; font-weight: 700; border-radius: 25px; border: none; background-color: #6C4BA4; }

@media screen and (max-width: 650px) {
    .apply-popup .content-arti .white-content{ padding: 30px 20px; }
    .apply-popup .content-arti .white-content .formList{ margin-top: 20px; }
    .apply-popup .content-arti .white-content h5{ font-size: 18px; padding-bottom: 10px; } 
    .apply-popup .content-arti .white-content textarea.ipt{ height: 45px; }
}